.footer{
			width: 100%;
			height: 590px;
			background-color: #333;
			font-family:  "poppin";

		}
		.footer .footer_h .info{
			width: 360px;
			height: 230px;
			float: left;
			margin-right: 50px;
			
		}

		.footer .footer_h .client h3{
			color: #999;
			font-size: 15px;
			font-weight: 400;
			padding: 80px 0  46px 0 ;
		}
		.footer .footer_h .client  ul{
			list-style: none;
		}
		.footer .footer_h .client ul li{
			float: left;
			width: 90px;
			height: 80px;
			font-family: "poppin";

		}
		.footer .footer_h .client ul li a{
			display: block;
			width: 60px;
			height: 48px;
			margin:0 29px 12px 0;
			background-image: url(../images/footer.png);
			background-repeat: no-repeat;
			text-decoration: none;
		}

		
		.footer .footer_h .client ul li .pc{background-position: 12px -5px;}
		.footer .footer_h .client ul li .mac{background-position: -80px -5px;}
		.footer .footer_h .client ul li .android{background-position: -174px -5px;}
		.footer .footer_h .client ul li .iphone{background-position: -261px -5px;}


		.footer .footer_h .client ul li .current{
			background-position: 12px -54px;
			 color: #31c27c;
		}

		.footer .footer_h .client ul li .pc:hover{background-position: 12px -54px;}
		.footer .footer_h .client ul li .mac:hover{background-position: -80px -54px;}
		.footer .footer_h .client ul li .android:hover{background-position: -174px -54px;}
		.footer .footer_h .client ul li .iphone:hover{background-position: -261px -54px;}

		.footer .footer_h .client ul li span{
			display: block;
			width: 70px;
			height: 60px;
			color: #999;
			font-size: 14px;
			text-align: center;
			cursor: pointer;
			padding-top: 55px;
		}
		.footer .footer_h .client ul li span:hover{
			 color: #31c27c;
		}

	 	.footer .footer_h .special ul li{
	 		width: 110px;
	 
	 	}
	 	
	 	.footer .footer_h .special ul li a span{
	 		width: 110px;
	 		text-align: left;
	 	}
		
		.footer .footer_h .special ul li .kge{background-position: -360px -5px;}
		.footer .footer_h .special ul li .super{background-position: -446px -5px;}
		.footer .footer_h .special ul li .Qp{background-position: -557px -5px;}


		.footer .footer_h .special ul li .kge:hover{background-position: -360px -54px;}
		.footer .footer_h .special ul li .super:hover{background-position: -446px -54px;}
		.footer .footer_h .special ul li .Qp:hover{background-position: -557px -54px;}

	
		.footer .footer_h .special ul .none a{
			background-image: none;
		}
		.footer .footer_h .special ul .none a span{
			width: 110px;
			height: 30px;
			padding-top: 15px;
		}		

		.footer .footer_h .links ul {
			list-style: none;
		}
		.footer .footer_h .links ul li{
			width: 120px;
			height: 30px;
			line-height: 30px;
			float: left;
			font-size: 14px;
		}
		.footer .footer_h .links ul li a{
			background-image: none;
			display: block;
			width: 110px;
			height: 30px;
			text-decoration: none;
			color: #999;
		}
		.footer .footer_h .links ul li a:hover{
			color: #31c27c;
		}	
		
		.footer .footer_platform{
			width: 1200px;
			height: 200px;
			padding-bottom: 45px;
		}
		.footer .footer_platform h3{
			padding:80px 0 46px 0;
			font-size: 15px;
			color: #999;
			font-weight: 400;
		}

		.footer .footer_platform ul{
			list-style: none;
		
		}
		.footer .footer_platform ul li{
			float: left;
			padding: 0 5px 12px 0;
		}
		.footer .footer_platform ul li a{
			padding-right: 30px;
			text-decoration: none;
			color: #999;
			font-size: 14px;

		}
		.footer .footer_platform ul li a:hover{
			color: #31c27c;
		}
	
		.footer .footer_copyright p{
			line-height: 28px;
			text-align: center;
			color: #999;
			font-size: 12px;
		}
		.footer .footer_copyright p a{
			text-decoration: none;
			color: #999;
			padding: 0 2px;

		}
		.footer .footer_copyright p a:hover{
			color: #31c27c;
		}



	.feedback{
		width: 40px;
		height: 130px;
		position: fixed;
		bottom: 50px;
		right: 50px;
	}
	.feedback a{
		display: block;
		width: 40px;
		height: 40px;
		margin-bottom: 2px;
		border: 1px solid #ccc;
		text-decoration: none;
		color: black;
		font-size: 14px;
		background-color: #fff;
	}
	.feedback .current{
		background-color: #ededed;
	}


	.feedback a:hover{
		background-color: #ededed;
		color: #31c27c;
	}

	.feedback a span{
		display: block;
		width: 18px;
		height: 10px;
		margin: 15px 10px 0 10px;
		background-image: url(../images/icon.png);
		background-repeat: no-repeat;
		

	}
	.feedback .up span{background-position: -160px 0;}
	.feedback .information span{
		width: 30px;
		line-height: 22px;
		background-image: none;
		margin:10px 10px 10px 5px;
	}
	.feedback .down span{
		width: 13px;
		height: 16px;
		margin:12px 10px 0 13px;
		background-position: -60px -220px}